:root {
    --primary: #407bff;
    --secondary: #314064;
    --tertiary: #dce4f4;
    --darkGrey: #414141;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.chart_wrapper {
    width: 500px;
    height: 300px;
}