:root {
    --primary: #407bff;
    --secondary: #314064;
    --tertiary: #dce4f4;
    --darkGrey: #414141;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    max-width: 100vw;
    min-height: 100vh;
    grid-template-areas: 'header main';
    grid-template-columns: 12vw 1fr;
}

main {
    grid-area: main;
}

header {
    grid-area: header;
}

a {
    color: inherit;
    text-decoration: none;
}
